.banners {
  padding-bottom: 72px;

  &__list {
    display: grid;
    grid-template-columns: 2.13fr 1fr 1fr;
    grid-column-gap: 30px;
    min-height: 300px;
  }

  &__item {
    border-radius: 6px;
    padding: 73px 32px 76px 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $dark-500;
    text-transform: uppercase;

    &:nth-child(1) {
      color: $white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    }

    &:nth-child(2) {
      .banners {
        &__title {
          max-width: 120px;
        }
      }
    }
  }

  &__span {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    max-width: 360px;
    margin-bottom: 10px;
    letter-spacing: normal;
  }

  &__link {
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 2px solid;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
  }
}