.footer {
  background-color: $dark-800;
  color: $white;
  letter-spacing: normal;

  &__container {
    @include r($md4) {
      padding: 0 0;
    }
  }

  &__top {
    padding: 30px 0 0;

    @include r($md4) {
      padding: 23px 0 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 28px;

    @include r($md4) {
      margin: 0 auto 24px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include r($md2) {
      flex-wrap: wrap;
    }

    @include r($md4) {
      flex-direction: column;
      width: 100%;
      margin-bottom: 0px;
    }
  }

  &__links {
    column-count: 3;
    column-gap: 75px;
    list-style: none;
    margin-top: -4px;

    @include r($md1) {
      column-count: 2;
      column-gap: 75px;
    }

    @include r($md4) {
      order: 2;
      display: block;
      width: 100%;
      padding: 18px 66px 6px;
      column-gap: 111px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      white-space: nowrap;
    }
  }

  &__item {
    margin-bottom: 16px;
  }

  // не нашел в интернете решения чтоб не разрывало оутлайн, везде писало про свойство break , но я его применить не смог. Сделал марджинами

  &__link {
    display: inline-block;
    margin-top: 4px;
  }
}

.form-subscribe {
  margin-right: 67px;

  @include r($md3) {
    margin-bottom: 20px;
  }

  @include r($md4) {
    padding: 24px 23px;
    margin-bottom: 0;
    order: 3;
    width: 100%;
    padding: 23px 35px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__text {
    display: block;
    margin-bottom: 20px;
    line-height: 1;
  }

  &__wrap {
    display: flex;
    height: 40px;
  }

  &__input {
    padding: 12px 5px 12px 12px;
    border-radius: 6px 0 0 6px;
    background-color: $white;

    &::placeholder {
      color: #4F4F4F;
      line-height: 1;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 12px;
    padding: 12px 14px;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    letter-spacing: normal;
  }
}

.contacts {
  @include r($md4) {
    order: 1;
    align-self: center;
    margin-bottom: 29px;
    margin-left: -63px;
  }

  &__items {
    @include r($md4) {
      width: 100%;
      text-align: center;
    }
  }


  &__link {
    display: inline-block;
    margin-bottom: 18px;
  }

  &__social {
    margin-left: -2px;

    @include r($md4) {
      justify-content: center;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  @include r($md4) {
    padding: 24px 15px;
    flex-direction: column;
  }

  &__copy {
    text-transform: uppercase;

    @include r($md4) {
      order: 2;
    }
  }

  &__pay-info {
    display: flex;

    @include r($md4) {
      order: 1;
      margin-bottom: 24px;
    }

  }

  &__pay-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}