body {
  color: $dark-500;
  font-size: 14px;
  line-height: 1.4;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  @extend %opensans-400;
  font-size: 18px;
  padding: 12px 24px;
  background-color: $green-900;
  border: 1px solid $green-900;
  border-radius: 6px;
  letter-spacing: 0.03em;
}

.logo {
  max-width: 200px;
  min-width: 100px;
  width: 100%;
}

.title {
  @extend %ruda-600;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $dark-900;
}