.partners {

  &__container {
    padding: 75px 15px 69px;

    @include r($md2) {
      padding: 48px 15px 42px;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  &__item {
    align-items: center;
    padding: 0 15px;
  }

  &__img {
    opacity: 0.5;
    transition: opacity 0.3s;
    display: inline-block;
    max-width: 80px;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;

    &:hover {
      opacity: 1;
    }
  }
}