.partners {
  
  &__container {
    padding: 70px 15px;
  }
  
  .slick-track {
    display: flex;
    align-items: center;
  }

  &__item {
    align-items: center;
    padding: 0 15px;
  }

  &__img {
    opacity: 0.5;
    transition: opacity 0.3s;
    display: inline-block;
    max-width: 80px;
    width: 100%;
    object-fit: contain;

    &:hover {
      opacity: 1;
    }
  }
}