.related-products {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @include r($md2) {
      margin-bottom: 29px;
    }
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include r($md4) {
      max-width: 250px;
      font-size: 24px;
    }
  }

  .product-card {
    &__image-link {
      padding-bottom: 67.03%;
    }

    &__status-inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 9px;
      margin-top: -9px;
    }

    &__info {
      @include r($md2) {
        padding: 0px 12px 12px;
        margin-top: -6px;
        z-index: 3;
      }
    }

    &__rating {
      display: flex;
      @include r($md2) {
        margin-right: 15px;
        margin-top: 5px;
      }

      &::after {
        content: '';
        background-image: url('../images/sprite.svg#icon-star');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin-left: 5px;

        @include r($md2) {
          width: 12px;
          height: 12px;
        }
      }

      @include r($md2) {
        font-size: 10px;
      }
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    @include r($md3) {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__arrow {
    height: 60px;
    width: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $silver-600;

    &::before {
      content: '';
      mask-size: cover;
      mask-position: center;
      mask-repeat: no-repeat;
      width: 19px;
      height: 32px;
      background-color: $dark-500;
    }

    &--next {
      &::before {
        mask-image: url('../images/sprite.svg#icon-pag-r');
      }
    }

    &--prew {
      margin-right: 9px;

      &::before {
        mask-image: url('../images/sprite.svg#icon-pag-l');
      }
    }
  }

  &__list {
    margin-bottom: 46px;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    
    @include r($md4) {
      margin-bottom: 62px;
    }
  }

  &__item {
    padding: 0 15px;
    height: 100%;

    @include r($md4) {
      padding: 0 2.5px;
    }
  }

  .slick-list {
    display: flex;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    & > div {
      height: 100%;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: -35px;
  }
}