.stock-product {
  &__container {
    padding: 72px 15px;
  }

  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__filters {
    margin-bottom: 48px;
  }

  &__list {
    display: grid;
      grid-template-columns: repeat(4 , 1fr);
      grid-column-gap: 30px;

  }

  &__item {
    border: 1px solid $silver-600;
    padding: 12px;
    border-radius: 6px;
  }

  &__title {
    @include line-clamp(3);
  }
}