.stock-products {
  background-color: #F5F5F5;
  
  &__container {
    padding: 72px 15px;
  }

  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__filters {
    margin-bottom: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px 30px;
    margin-bottom: 45px;
  }

  & .filters__item:not(:last-child) {
    margin-right: 30px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
  }
}

.status {
  &__item {
    display: none;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;

    &--stock {
      color: $green-900;
    }

    &--ends {
      color: $red-900;
    }

    &--empty {
      color: $silver-600;
    }

    &--on {
      display: inline-block;
      margin-bottom: 4px;
    }
  }
}