$main-clr: #63A60E;
$header-footer-clr: #31352B;
$title-clr: #121212;
$font-clr: #505050;
$accent-clr: #CF3E3B;

%opensans-300 {
  font-family: "Open Sans";
  font-weight: 300;
}

%opensans-400 {
  font-family: "Open Sans";
  font-weight: 400;
}

%opensans-600 {
  font-family: "Open Sans";
  font-weight: 600;
}

%opensans-700 {
  font-family: "Open Sans";
  font-weight: 700;
}

%ruda-400 {
  font-family: "Ruda";
  font-weight: 400;
}

%ruda-600 {
  font-family: "Ruda";
  font-weight: 600;
}

%ruda-700 {
  font-family: "Ruda";
  font-weight: 700;
}

%ruda-900 {
  font-family: "Ruda";
  font-weight: 900;
}