@import 'vars';
@import 'reset';
@import 'fonts';
@import 'global';


.header-top {
  background-color: $header-footer-clr;
  color: #fff;
  padding: 14px 0;
  font-size: 13px;
  line-height: 18px;
  @extend %opensans-700;
  text-transform: uppercase;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: flex;
  }
}

.top-info {
  display: flex;

  &__link {
    display: flex;
  }

  &__svg {
    height: 22px;
    max-width: 32px;
    min-width: 18px;
    width: 100%;
    margin-right: 12px;
  }

  &__link:not(:last-child) {
    margin-right: 48px;
  }
}

.top-links__item:not(:last-child) {
  margin-right: 24px;
}

.header-middle {
  background-color: $main-clr;
  padding: 30px 0;
  @extend %opensans-600;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 24px;
  }

}

.menu {
  margin-right: 30px;
  

  &__wrap {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 240px;
    height: 50px;
    border-radius: 6px;
    padding: 17px;
    padding-right: 38px;
    position: relative;
    transition: border-radius 0.3s;
  }

  &__burger-btn {
    background-color: #fff;
    width: 25px;
    height: 17px;
    margin-right: 19px;
    position: relative;
  }

  &__burger-btn::before,
  &__burger-btn::after {
    content: '';
    background-color: $main-clr;
    width: 25px;
    height: 1px;
    position: absolute;
    left: 0;
  }

  &__burger-btn::before {
    top: 0;
  }

  &__burger-btn::after {
    bottom: 0;
  }

  &__burger-btn span {
    background-color: $main-clr;
    width: 20px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 8.5px;
  }

  &__burger-text {
    color: $main-clr;
  }

  &__burger-text::after {
    content: '';
    display: inline-block;
    background-image: url('../images/sprite.svg#icon-chevron');
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 8px;
    width: 10px;
    position: absolute;
    right: 18px;
    top: 23px;
  }

  &__items {
    position: absolute;
    background-color: #fff;
    width: 240px;
    display: none;
    z-index: 3;
  }

  &__item {
    padding: 15px 24px;
    transition: border-left 0.1s;
  }

  &__item:hover {
    color: #63a60e;
    border-left: 3px solid #63a60e;
  }
}

// уже и в самом свг фил поменял все равно шеврон черный

.menu__burger-text::after {
  fill: $main-clr;
  transition: translateX 0.1s, rotate 0,3s;
}


.menu--active .menu__wrap {
  border-radius: 6px 6px 0 0;
}

.menu--active .menu__burger-text::after {
  transform: translateX(-2px) rotate(180deg);
}

.search {
  display: flex;
  flex-grow: 1;
  margin-right: 58px;
  position: relative;

  &__field {
    border-radius: 6px 0 0 6px;
    background-color: #fff;
    padding: 15px 51px;
    width: 100%;
    max-width: 420px;
  }

  &__btn {
    color: #fff;
    background-color: #31352B;
    padding: 15px 52px;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
  }

  &__span::before {
    content: '';
    background-image: url('../images/sprite.svg#icon-search');
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 16px;
    left: 12px;
  }
}


.user-nav {
  display: flex;

  &__svg {
    max-height: 32px;
    max-width: 28px;
    min-width: 18px;
    width: 100%;
  }

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 33px;
  }

  &__num {
    background-color: #fff;
    font-size: 10px;
    color: $accent-clr;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -5px;
    left: -6px;
  }
}

.slider {
  height: 600px;

  &__container {
    padding: 142px 0;
  }

  &__item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%
  }

  &__item-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 100%;
    padding: 24px;
  }

  &__title {
    max-width: 770px;
    width: 100%;
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__span {
    color: $accent-clr;
  }

  &__text {
    @extend %opensans-400;
    font-size: 16px;
    margin-bottom: 32px;
  }

  &__btn {
    line-height: 1.3;
    color: #fff;
  }

}

.slick-slide {
  position: relative;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  top: 299px;
}

.slick-prev {
  left: 60px;

}
.slick-next {
  right: 60px;
}





@import 'media';