.menu {
  background-color: $white;
  max-width: 300px;
  height: 100vh;
  width: 100%;
  font-size: 18px;
  color: $dark-800;
  text-transform: capitalize;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: none;
  overflow-y: auto;


  &__top {
    padding: 26px 15px;
    position: relative;
  }

  &__close-btn {
    position: absolute;
    height: 44px;
    width: 44px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 34px;
    right: 13px;
    transition: background-color 0.3s,
      box-shadow 0.3s;
    outline: transparent;

    &::after {
      content: '';
      background-image: url('../images/sprite.svg#icon-close');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 18px;
      width: 18px;
      position: absolute;
    }

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
    }

    &:hover {
      background-color: $green-200;

      &::after {
        filter: invert(47%) sepia(100%) saturate(807%) hue-rotate(50deg) brightness(93%) contrast(89%);
      }
    }

    &:active {
      background-color: rgba(193, 193, 193, 0.3);
    }
  }

  &__login-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 44px 7px 15px;
    background-color: $green-900;
    font-weight: 400;
    line-height: 1;
    color: $white;
  }

  &__login-item {
    display: flex;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__login-link {
    display: flex;
    align-items: center;


    &::before {
      content: '';
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--enter {
      &::before {
        content: '';
        background-image: url('../images/sprite.svg#icon-user');
        width: 24px;
        height: 32px;
        margin-right: 16px;
      }
    }

    &--reg {
      &::before {
        content: '';
        background-color: $white;
        width: 1px;
        height: 18px;
        margin-right: 20px;
      }
    }
  }

  &__catalog {
    display: block;
    padding: 15px 85px 15px 56px;
    position: relative;
    font-weight: 600;
    line-height: 1;
    border-bottom: 1px solid $silver-600;

    &::before {
      content: '';
      background-image: url('../images/sprite.svg#icon-menu');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 25px;
      height: 19px;
      position: absolute;
      left: 16px;
      top: 14px;
    }
  }

  &__info {
    padding: 24px 15px;
    border-bottom: 1px solid $silver-600;
    font-weight: 400;
  }

  &__info-item {
    margin-bottom: 15px;
  }

  &__info-link {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }

    &--phone {
      line-height: 1;

      &::before {
        background-image: url('../images/sprite.svg#icon-menutel');

      }
    }

    &--address {
      line-height: 1.2;

      &::before {
        background-image: url('../images/sprite.svg#icon-menumark');
        height: 32px;
        width: 32px;
      }
    }
  }

  .social {
    &__link {
      filter: invert(83%) sepia(6%) saturate(1369%) hue-rotate(42deg) brightness(96%) contrast(88%);
    }
  }

  &__list {
    padding: 24px 15px;
    font-weight: 400;
    line-height: 1.2;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}