.shop-checkbox {
  background: $silver-100;

  &:checked+.shop-filter__label {
    &::before {
      background-image: url('../images/sprite.svg#icon-chb-v');
      z-index: 2;
    }
  }

  &:checked+.shop-label {
    &::before {
      background-image: url('../images/sprite.svg#icon-chb-v');
      z-index: 2;
    }
  }

  &+.shop-label {
    display: flex;
    align-items: center;

    &:hover {
      &::before {
        border-color: $dark-500;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background: $silver-100;
      border: 1px solid $silver-600;
      border-radius: 3px;
      margin-right: 11px;
      flex-shrink: 0;
      flex-grow: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 13px 10px;
      transition: border-color 0.3s;
    }
  }

  &+.shop-filter__label {
    display: flex;
    align-items: center;

    &:hover {
      &::before {
        border-color: $dark-500;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background: $silver-100;
      border: 1px solid $silver-600;
      border-radius: 3px;
      margin-right: 11px;
      flex-shrink: 0;
      flex-grow: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 13px 10px;
      transition: border-color 0.3s;
    }
  }
}