.social {
  display: flex;

  &__item {
    margin-right: 12px;
    outline-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
    }
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      filter: invert(5%) sepia(5%) saturate(843%) hue-rotate(42deg) brightness(95%) contrast(100%);
    }
  }
}